@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #864503;
  --primary-light: #5F2F01;
  --background-light: #FFF4DA;
  --background-dark: #381801;
  --accent: #864503;
  --accent-light: #5F2F01;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
  }

  .animate-slideUp {
    animation: slideUp 0.8s ease-out forwards;
  }

  .glass-effect {
    background: rgba(56, 24, 1, 0.2);
    backdrop-filter: blur(16px);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(40px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }
}

body {
  background-color: var(--background-dark);
  color: #ffffff;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-display {
  font-family: 'Playfair Display', serif;
}

.hover-scale {
  transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.05);
}